.profile-form, .address-form {
    display: flex;
    flex-direction: column;
}

.input_text {
    margin-bottom: 0.4rem;
}

input, select {
    background: none;
    font-size: 1rem;
    padding: 10px 10px 10px 5px;
    margin-bottom: 0.3rem;
    display: block;
    width: 16rem;
    border: none;
    border-bottom: 1px solid #c9c9c9;
}


.shipping-free input {
    width: 20px;
}

input:focus {
    outline: none;
    color: #5e5d5d;
}

label {
    color: #919191;
    transition: 0.5s ease-in-out all;
}

input:focus~label {
    font-size: 1.08rem;
    color: #98DDCA;
}

button {
    margin-top: 3rem;
}

.btn-reset {
    height: 2rem;
    background-color: #fdc39a;
    color: #fff;
    border: none;
    border-radius: 4px;
    width: 10rem;
    font-weight: 500;
}

.btn-next {
    height: 2rem;
    background-color: #FFAAA7;
    color: #fff;
    border: none;
    border-radius: 4px;
    width: 6.7rem;
    font-weight: 700;
}

.prefix {
    display: flex;
    width: 5rem;
}

.phone {
    width: 8.3rem;
}

.shipping-form h2{
    margin-bottom: 30px;
}

.shipping-free {
    display: flex;
    justify-content:flex-start;
    margin-bottom: 20px;
}

.gift-message {
    margin-top: 20px;
}

.shipping-paraf {
    margin: 10px 0;
}

.small-cap {
    font-size: 0.7rem;
}

.gift-check {
    margin-top: 30px;
}

.select-image{
    margin-top: 30px;
}

.select-image label{
    margin-top: 2rem;
    border-radius: 4px;
    padding: 8px;
    background-color: #419780;
    border: none;
    color: #fff;
}

.select-image input{
    display: none;
}

.finish{
    display: flex;
    flex-direction: column;
}
.complete_order{
    /* display:  */
    margin-bottom: 15px;
}
.complete_order_title{
    font-size: 22px;
    font-weight: 700;

}
.complete_order_info{
    color: #919191;
}

.terms_conditions{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    margin-top: 1.5rem;
}
.terms_conditions input{
    width: 25px;
    /* margin-top: 0.15rem; */
    margin-right: 0.5rem;
}
.term_condition_error{
    margin-top: 1rem;
    background: rgb(233, 165, 165);
    padding: 0.3rem;
    border-radius: 4px;
    color: red;
}
.order_button{
    justify-self: center;
    width: 11rem;
    height: 2.5rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    background-color: #d3d3d3;
    color: #b8b8b8;
    margin-top: 1rem;
}
.order-price{
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 4px;
}
.order-price .order_price_title{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.order_price_shipping{
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}
.order_price_total{
    margin-top: 0.5rem;
}
.order_price_total{
    font-size: 1.5rem;
    font-weight: 600;
}
.order_information{
    margin-bottom: 1.5rem;
}
.registration_time{
    margin-top: 2rem;
    background: #ebfade;
    border-radius: 4px;
    padding: 0.5rem;
}
.address-form, .shipping-form, .finish{
    overflow: hidden;
    overflow-y: scroll;
    height: 700px;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

@media screen and (min-width: 600px) {
    .address-form, .shipping-form{
        overflow: hidden;
        overflow-y: scroll;
        height: 500px;
    }
    ::-webkit-scrollbar {
        width: 0;  /* Remove scrollbar space */
        background: transparent;  /* Optional: just make scrollbar invisible */
    }
}