*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color: #F7E2E2;
    --secondary-color: #61A4BC;
    --tertiary-color: #5B7DB1;
    --quaternary-color: #1A132F;
}
body{
    background-image: linear-gradient(-225deg, #F7E2E2 0%, #61A4BC 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    min-height: 80vh;
    max-height: 120vh;
    border-radius: 10px;
    gap: 0.5rem;
    background-color: #fff;
    -webkit-box-shadow: 6px 8px 12px 0px rgba(0,0,0,0.39); 
    box-shadow: 6px 8px 12px 0px rgba(0,0,0,0.39);
}

.main_product_left, .main_product_right{
    border-radius: 10px;
}
.main_product_right{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    height: auto;
    padding: 1rem;
}

.main_product_left{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--secondary-color);
    width: 100%;
    flex: 1;
}
 .main_product_left_products{
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    padding: 0.5rem;
}

.main_product_left_product{
    height: 95%;
    width: 90%;

    display: flex;
    margin-right: 0.5rem;
    background-image: url(./assests/images/product02.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: var(--quaternary-color);
}
.title_description{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: var(--quaternary-color);
    margin-bottom: 1rem;
}

.product_information {
    width: 100%;
}

.product_information_price{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.product_information_price p{
    font-size: 1.3rem;
}

.product_information_price p:nth-child(1){
    font-size: 1rem;
    font-weight: 600;

}

.product_information_price p:nth-child(2){
    font-size: 2rem;
    font-weight: 600;

}

.products_flavors{
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
    flex-wrap: nowrap;
    overflow-x: hidden;
    margin-bottom: 1rem;
    width: 100%;
    padding: 0.5rem;
}

.products_flavors img{
    background-color: #fff;
    border: solid 1px rgb(248, 248, 248);
    padding: 0.5rem;
    height: 65px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 9px -5px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 9px -5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 9px -5px rgba(0,0,0,0.3);
}

.buy_button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 1rem;
    width: 6rem;
    background-color: var(--quaternary-color);
    border: none;
    color: #fff;
    border-radius: 5px;
    align-self: flex-start;
    justify-self: flex-end;
}

@media screen and (min-width: 600px) {
    main{
        flex-direction: row;
    }
    .main_product_left{
        height: 100%;
    }
    .main_product_left_products{
        display: flex;
    }
    .main_product_left_products img{
        height: 50px;
        -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
        box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    }
    .main_product_right{
        height: 100%;
        justify-content: space-around;
    }
    .product_information{
        display: flex;
        flex-direction: column;
        height: 90%;
        width: 90%;
        justify-content: flex-start;
    }
    .products_flavors{
        width: max-content;
        overflow-y: hidden;
    }
    .products_flavors img{
        height: 100px;
    }
    .product_information_price{
        gap: 1rem;
    }
    .product_information_price p{
        font-size: 1.5rem;
        flex-wrap: wrap;
    }

    .title {
        font-size: 4rem;
    }

    .title_description{
        margin-top: -15px;
        font-size: 2.7rem;
    }

    .products_flavors img{
        margin-top: 20px;
    }

    .product_information_price p:nth-child(1){
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: 3rem;
    
    }
    
    .product_information_price p:nth-child(2){
        font-size: 2.8rem;
        font-weight: 700;
        margin-top: -1.3rem;
    
    }
}